In [2]:
! pip install selenium

Collecting selenium
  Obtaining dependency information for selenium from https://files.pythonhosted.org/packages/97/e3/fd7272d6d2c49fd49a79a603cb28c8b5a71f8911861b4a0409b3c006a241/selenium-4.17.2-py3-none-any.whl.metadata
  Downloading selenium-4.17.2-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.16)
Collecting trio~=0.17 (from selenium)
  Obtaining dependency information for trio~=0.17 from https://files.pythonhosted.org/packages/14/fb/9299cf74953f473a15accfdbe2c15218e766bae8c796f2567c83bae03e98/trio-0.24.0-py3-none-any.whl.metadata
  Downloading trio-0.24.0-py3-none-any.whl.metadata (4.9 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Obtaining dependency information for trio-websocket~=0.9 from https://files.pythonhosted.org/packages/48/be/a9ae5f50cad5b6f85bd2574c2c923730098530096e170c1ce7452394d7aa/trio_websocket-0.11.1-py3-none-any.whl.metadata
  Downloading trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Collecting typing_extensions>=4.9.0 (from selenium)
  Obtaining dependency information for typing_extensions>=4.9.0 from https://files.pythonhosted.org/packages/b7/f4/6a90020cd2d93349b442bfcb657d0dc91eee65491600b2cb1d388bc98e6b/typing_extensions-4.9.0-py3-none-any.whl.metadata
  Downloading typing_extensions-4.9.0-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Collecting outcome (from trio~=0.17->selenium)
  Obtaining dependency information for outcome from https://files.pythonhosted.org/packages/55/8b/5ab7257531a5d830fc8000c476e63c935488d74609b50f9384a643ec0a62/outcome-1.3.0.post0-py2.py3-none-any.whl.metadata
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Collecting sniffio>=1.3.0 (from trio~=0.17->selenium)
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ---------------------------------------- 0.0/58.3 kB ? eta -:--:--
     --------------------- ------------------ 30.7/58.3 kB 1.3 MB/s eta 0:00:01
     -------------------------------------- 58.3/58.3 kB 762.2 kB/s eta 0:00:00
Downloading selenium-4.17.2-py3-none-any.whl (9.9 MB)
   ---------------------------------------- 0.0/9.9 MB ? eta -:--:--
   ---------------------------------------- 0.1/9.9 MB 5.1 MB/s eta 0:00:02
   ---------------------------------------- 0.1/9.9 MB 1.2 MB/s eta 0:00:09
    --------------------------------------- 0.2/9.9 MB 1.3 MB/s eta 0:00:08
   - -------------------------------------- 0.3/9.9 MB 2.0 MB/s eta 0:00:05
   - -------------------------------------- 0.4/9.9 MB 1.8 MB/s eta 0:00:06
   -- ------------------------------------- 0.5/9.9 MB 2.0 MB/s eta 0:00:05
   -- ------------------------------------- 0.7/9.9 MB 2.2 MB/s eta 0:00:05
   --- ------------------------------------ 0.8/9.9 MB 2.3 MB/s eta 0:00:04
   ---- ----------------------------------- 1.0/9.9 MB 2.4 MB/s eta 0:00:04
   ---- ----------------------------------- 1.1/9.9 MB 2.5 MB/s eta 0:00:04
   ----- ---------------------------------- 1.3/9.9 MB 2.6 MB/s eta 0:00:04
   ------ --------------------------------- 1.5/9.9 MB 2.8 MB/s eta 0:00:04
   ------ --------------------------------- 1.7/9.9 MB 2.9 MB/s eta 0:00:03
   ------- -------------------------------- 2.0/9.9 MB 3.0 MB/s eta 0:00:03
   -------- ------------------------------- 2.1/9.9 MB 2.9 MB/s eta 0:00:03
   -------- ------------------------------- 2.2/9.9 MB 2.9 MB/s eta 0:00:03
   --------- ------------------------------ 2.3/9.9 MB 2.8 MB/s eta 0:00:03
   --------- ------------------------------ 2.4/9.9 MB 2.9 MB/s eta 0:00:03
   ---------- ----------------------------- 2.5/9.9 MB 2.8 MB/s eta 0:00:03
   ---------- ----------------------------- 2.6/9.9 MB 2.8 MB/s eta 0:00:03
   ----------- ---------------------------- 2.8/9.9 MB 2.8 MB/s eta 0:00:03
   ------------ --------------------------- 3.0/9.9 MB 2.9 MB/s eta 0:00:03
   ------------ --------------------------- 3.2/9.9 MB 2.9 MB/s eta 0:00:03
   ------------- -------------------------- 3.4/9.9 MB 3.0 MB/s eta 0:00:03
   -------------- ------------------------- 3.5/9.9 MB 3.0 MB/s eta 0:00:03
   --------------- ------------------------ 3.8/9.9 MB 3.1 MB/s eta 0:00:02
   --------------- ------------------------ 3.9/9.9 MB 3.1 MB/s eta 0:00:02
   ---------------- ----------------------- 4.1/9.9 MB 3.1 MB/s eta 0:00:02
   ----------------- ---------------------- 4.3/9.9 MB 3.2 MB/s eta 0:00:02
   ------------------ --------------------- 4.5/9.9 MB 3.3 MB/s eta 0:00:02
   ------------------- -------------------- 4.7/9.9 MB 3.2 MB/s eta 0:00:02
   ------------------- -------------------- 4.9/9.9 MB 3.3 MB/s eta 0:00:02
   -------------------- ------------------- 5.1/9.9 MB 3.3 MB/s eta 0:00:02
   --------------------- ------------------ 5.2/9.9 MB 3.3 MB/s eta 0:00:02
   --------------------- ------------------ 5.4/9.9 MB 3.3 MB/s eta 0:00:02
   ----------------------- ---------------- 5.7/9.9 MB 3.4 MB/s eta 0:00:02
   ----------------------- ---------------- 5.9/9.9 MB 3.4 MB/s eta 0:00:02
   ------------------------ --------------- 6.1/9.9 MB 3.4 MB/s eta 0:00:02
   ------------------------- -------------- 6.2/9.9 MB 3.4 MB/s eta 0:00:02
   -------------------------- ------------- 6.5/9.9 MB 3.4 MB/s eta 0:00:01
   --------------------------- ------------ 6.7/9.9 MB 3.5 MB/s eta 0:00:01
   --------------------------- ------------ 6.9/9.9 MB 3.5 MB/s eta 0:00:01
   ---------------------------- ----------- 7.1/9.9 MB 3.5 MB/s eta 0:00:01
   ----------------------------- ---------- 7.3/9.9 MB 3.5 MB/s eta 0:00:01
   ------------------------------ --------- 7.5/9.9 MB 3.5 MB/s eta 0:00:01
   ------------------------------ --------- 7.6/9.9 MB 3.5 MB/s eta 0:00:01
   ------------------------------- -------- 7.8/9.9 MB 3.6 MB/s eta 0:00:01
   -------------------------------- ------- 8.0/9.9 MB 3.5 MB/s eta 0:00:01
   --------------------------------- ------ 8.2/9.9 MB 3.6 MB/s eta 0:00:01
   --------------------------------- ------ 8.3/9.9 MB 3.6 MB/s eta 0:00:01
   ---------------------------------- ----- 8.4/9.9 MB 3.5 MB/s eta 0:00:01
   ---------------------------------- ----- 8.5/9.9 MB 3.5 MB/s eta 0:00:01
   ---------------------------------- ----- 8.6/9.9 MB 3.5 MB/s eta 0:00:01
   ----------------------------------- ---- 8.7/9.9 MB 3.4 MB/s eta 0:00:01
   ----------------------------------- ---- 8.8/9.9 MB 3.4 MB/s eta 0:00:01
   ------------------------------------ --- 8.9/9.9 MB 3.4 MB/s eta 0:00:01
   ------------------------------------ --- 9.0/9.9 MB 3.4 MB/s eta 0:00:01
   ------------------------------------- -- 9.2/9.9 MB 3.4 MB/s eta 0:00:01
   ------------------------------------- -- 9.3/9.9 MB 3.4 MB/s eta 0:00:01
   -------------------------------------- - 9.5/9.9 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  9.7/9.9 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  9.8/9.9 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  9.9/9.9 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------  9.9/9.9 MB 3.4 MB/s eta 0:00:01
   ---------------------------------------- 9.9/9.9 MB 3.3 MB/s eta 0:00:00
Downloading trio-0.24.0-py3-none-any.whl (460 kB)
   ---------------------------------------- 0.0/460.2 kB ? eta -:--:--
   ---------- ----------------------------- 122.9/460.2 kB 3.6 MB/s eta 0:00:01
   ------------------------ --------------- 276.5/460.2 kB 4.2 MB/s eta 0:00:01
   ------------------------------ --------- 348.2/460.2 kB 3.1 MB/s eta 0:00:01
   -------------------------------------- - 440.3/460.2 kB 2.8 MB/s eta 0:00:01
   ---------------------------------------- 460.2/460.2 kB 2.6 MB/s eta 0:00:00
Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Downloading typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Installing collected packages: typing_extensions, sniffio, outcome, h11, wsproto, trio, trio-websocket, selenium
  Attempting uninstall: typing_extensions
    Found existing installation: typing_extensions 4.7.1
    Uninstalling typing_extensions-4.7.1:
      Successfully uninstalled typing_extensions-4.7.1
  Attempting uninstall: sniffio
    Found existing installation: sniffio 1.2.0
    Uninstalling sniffio-1.2.0:
      Successfully uninstalled sniffio-1.2.0
Successfully installed h11-0.14.0 outcome-1.3.0.post0 selenium-4.17.2 sniffio-1.3.0 trio-0.24.0 trio-websocket-0.11.1 typing_extensions-4.9.0 wsproto-1.2.0
Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

Question 1

Note:close button code is written to close the popup but depends on website behaviour sometimes it will popup sometimes it does not.

In [48]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [57]:
driver=webdriver.Chrome()
driver.get("https://www.shine.com/")

In [58]:
designation=driver.find_element(By.XPATH,'/html/body/div/header/div[3]/div/div/div[1]/div/input')
designation.click()

In [60]:
close_button=driver.find_element(By.XPATH,'/html/body/div/div[2]/div/div/button')
close_button.click()

In [61]:
designation1=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation1.send_keys('Data Analyst')

In [62]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [63]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [64]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
title_tags[0:10]
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
location_tags[0:10]
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
company_tags[0:10]
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
experience_tags[0:10]
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [65]:
import pandas as pd
pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})

,job_title,job_location,company_name,experience_required
0,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
1,Data Analyst,Bangalore\n+3,diraa hr services hiring for mncs,0 to 1 Yr
2,Vacancy For Data Analyst,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
3,Clinical Data Analyst,Bangalore\n+6,techno endura,0 to 1 Yr
4,Data Modeler data,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
5,Data Modeller,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
6,Data Modeler Bangalore,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
7,Data Modeler,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
8,Clinical Data Analyst,Bangalore\n+4,quiscon biotech,0 to 2 Yrs
9,Data Analyst Hiring Fresher and Experience,Bangalore\n+13,kavya interprises,0 to 4 Yrs

Question 2

In [66]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [67]:
driver=webdriver.Chrome()
driver.get("https://www.shine.com/")

In [70]:
designation=driver.find_element(By.XPATH,'/html/body/div/header/div[3]/div/div/div[1]/div/input')
designation.click()

ElementClickInterceptedException: Message: element click intercepted: Element <input type="text" class="input" placeholder="Job title, skills"> is not clickable at point (437, 70). Other element would receive the click: <input type="text" id="id_q" name="id_q" autocomplete="off" placeholder=" " class="form-control  " value="">
  (Session info: chrome=120.0.6099.225)
Stacktrace:
	GetHandleVerifier [0x00007FF7CDF12142+3514994]
	(No symbol) [0x00007FF7CDB30CE2]
	(No symbol) [0x00007FF7CD9D76AA]
	(No symbol) [0x00007FF7CDA288F3]
	(No symbol) [0x00007FF7CDA268ED]
	(No symbol) [0x00007FF7CDA240EC]
	(No symbol) [0x00007FF7CDA22EA5]
	(No symbol) [0x00007FF7CDA16A0F]
	(No symbol) [0x00007FF7CDA45FEA]
	(No symbol) [0x00007FF7CDA163B6]
	(No symbol) [0x00007FF7CDA46490]
	(No symbol) [0x00007FF7CDA628F6]
	(No symbol) [0x00007FF7CDA45D93]
	(No symbol) [0x00007FF7CDA14BDC]
	(No symbol) [0x00007FF7CDA15C64]
	GetHandleVerifier [0x00007FF7CDF3E16B+3695259]
	GetHandleVerifier [0x00007FF7CDF96737+4057191]
	GetHandleVerifier [0x00007FF7CDF8E4E3+4023827]
	GetHandleVerifier [0x00007FF7CDC604F9+689705]
	(No symbol) [0x00007FF7CDB3C048]
	(No symbol) [0x00007FF7CDB38044]
	(No symbol) [0x00007FF7CDB381C9]
	(No symbol) [0x00007FF7CDB288C4]
	BaseThreadInitThunk [0x00007FFBEF54257D+29]
	RtlUserThreadStart [0x00007FFBF06AAA58+40]

In [69]:
close_button=driver.find_element(By.XPATH,'/html/body/div/div[2]/div/div/button')
close_button.click()

In [71]:
designation1=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation1.send_keys('Data Scientist')

In [72]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [73]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [74]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
title_tags[0:10]
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
location_tags[0:10]
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
company_tags[0:10]
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
experience_tags[0:10]
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [75]:
import pandas as pd
pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})

,job_title,job_location,company_name,experience_required
0,Data Scientist,Bangalore\n+4,acme services private limited,3 to 5 Yrs
1,Data Scientist,Bangalore,ltimindtree limited,6 to 8 Yrs
2,Lead Data Scientist/ Principal Data Scientist,Bangalore\n+1,fractal,5 to 9 Yrs
3,Senior Data Scientist,Bangalore\n+1,neostats,7 to 11 Yrs
4,Vacancy For Data Scientist Fresher and Experience,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
5,Lead Data Scientist,Bangalore\n+1,aereo,7 to 10 Yrs
6,Data Scientist,Bangalore\n+7,people staffing solutions,4 to 9 Yrs
7,Data Scientist Urgent Vacancy,Bangalore\n+14,yogita staffing solution,0 to 3 Yrs
8,Data Scientist,Bangalore\n+2,diraa hr services,0 to 4 Yrs
9,Pharma Data Scientist,Bangalore\n+4,quiscon biotech,0 to 1 Yr

Question 3

In [77]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [78]:
driver=webdriver.Chrome()
driver.get("https://www.shine.com/")

In [79]:
designation=driver.find_element(By.XPATH,'/html/body/div/header/div[3]/div/div/div[1]/div/input')
designation.click()

In [81]:
close_button=driver.find_element(By.XPATH,'/html/body/div/div[2]/div/div/button')
close_button.click()

In [82]:
designation1=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
designation1.send_keys('Data Scientist')

In [83]:
search=driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [89]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [ ]:
Register_button_close=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div/button')
Register_button_close.click()

In [ ]:
Location_filter_button=driver.find_element(By.Xpath,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div/ul/li[1]/button')
Location_filter_button.click()

In [84]:
select_filter=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[13]')
select_filter.click()

In [85]:
Salary_filter_button=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/ul/li[3]')
Salary_filter_button.click()

In [87]:
Salary_filter_select=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[3]/div/div/div/ul/li[3]')
Salary_filter_select.click()

In [88]:
show_button=driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div/div[4]/button[2]')
show_button.click()

In [90]:
title_tags=driver.find_elements(By.XPATH,'//h2[@itemprop="name"]')
title_tags[0:10]
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
location_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_locationIcon__zrWt2"]')
location_tags[0:10]
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
company_tags[0:10]
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
experience_tags=driver.find_elements(By.XPATH,'//div[@class=" jobCard_jobCard_lists_item__YxRkV jobCard_jobIcon__3FB1t"]')
experience_tags[0:10]
for i in experience_tags[0:10]:
    experience=i.text
    experience_required.append(experience)

In [91]:
import pandas as pd
pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})

,job_title,job_location,company_name,experience_required
0,Data Scientist,Delhi\n+4,acme services private limited,3 to 5 Yrs
1,Clinical Data Analyst,Delhi\n+6,techno endura,0 to 1 Yr
2,Bioanalytical Research,Delhi\n+6,techno endura,0 to 1 Yr
3,Bioanalytical Research Associates,Delhi\n+6,techno endura,0 to 1 Yr
4,Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
5,Clinical Analyst Fresher,Delhi\n+6,techno endura,0 to 1 Yr
6,Junior Clinical Data Management,Delhi\n+6,techno endura,0 to 1 Yr
7,Data Engineer,Delhi\n+9,future solution centre,10 to 20 Yrs
8,Biostatistician,Delhi\n+17,national seeds corporation limited,2 to 7 Yrs
9,Clinical Document Specialist,Delhi\n+6,techno endura,0 to 1 Yr

Question 4

In [100]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [101]:
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [102]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
search.send_keys('sunglasses')

In [103]:
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search_button.click()

In [121]:
Brands=[]
descriptions=[]
prices=[]

In [122]:
start=0
end=3
for page in range(start,end):
    Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_tags:
        Brand=i.text
        Brands.append(Brand)
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC" or @class="IRpwTa"]')
    for i in description_tags:
        description=i.text
        descriptions.append(description)
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price=i.text
        prices.append(price)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]')
    next_button.click()
    time.sleep(3)

In [123]:
import pandas as pd
pd.DataFrame({'Brands':Brands,'descriptions':descriptions,'prices':prices})

            Brands                                       descriptions  prices
0           AISLIN  Toughened Glass Lens, UV Protection Aviator Su...    ₹720
1           AISLIN  Toughened Glass Lens, UV Protection Aviator, O...    ₹745
2          Ray-Ban               UV Protection Shield Sunglasses (56)  ₹5,169
3             SYGA          UV Protection Oval Sunglasses (Free Size)    ₹199
4            NuVew             UV Protection Wayfarer Sunglasses (57)     ₹98
..             ...                                                ...     ...
115    john jacobs  Polarized, UV Protection Retro Square Sunglass...  ₹1,999
116    Eyewearlabs   Polarized, UV Protection Aviator Sunglasses (53)  ₹1,999
117           IRUS             UV Protection Wayfarer Sunglasses (61)    ₹489
118         OAKLEY                                    Shield Sunglass  ₹5,999
119  VINCENT CHASE  by Lenskart Polarized, UV Protection Rectangul...    ₹825

[120 rows x 3 columns]

Question 5

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [126]:
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/productreviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

Above page is either moved or deleted

Question 6

In [128]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [129]:
driver=webdriver.Chrome()
driver.get("https://www.flipkart.com/")

In [130]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input')
search.send_keys('sneakers')

In [131]:
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div[1]/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search_button.click()

In [132]:
Brands=[]
descriptions=[]
prices=[]

In [134]:
start=0
end=3
for page in range(start,end):
    Brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in Brand_tags:
        Brand=i.text
        Brands.append(Brand)
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC" or @class="IRpwTa"]')
    for i in description_tags:
        description=i.text
        descriptions.append(description)
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price_tags:
        price=i.text
        prices.append(price)
    next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [135]:
import pandas as pd
pd.DataFrame({'Brands':Brands,'descriptions':descriptions,'prices':prices})

           Brands                                       descriptions  prices
0    Robbie jones  Casual Sneakers Canvas High Top Boots For Boys...    ₹449
1           BIRDE  Pack Of 2 Combo Comfortable Lightweight Regula...    ₹521
2        URBANBOX  Trending Stylish Casual Outdoor Sneakers Shoes...    ₹299
3          BRUTON               Modern Trendy Shoes Sneakers For Men    ₹299
4       Deals4you                                 Sneakers For Women    ₹399
..            ...                                                ...     ...
155        DUCATI                    NEO MOTORSPORT Sneakers For Men    ₹877
156           Viv                                   Sneakers For Men    ₹629
157         asian  Casual Sneakers For Men ||Soft Cushioned insol...    ₹729
158          PUMA                            Rickie Sneakers For Men  ₹2,414
159          PUMA             Future Rider Override Sneakers For Men  ₹4,070

[160 rows x 3 columns]

Question 7

In [142]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [143]:
driver=webdriver.Chrome()
driver.get("https://www.amazon.in/")

In [145]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

In [146]:
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search_button.click()

In [147]:
Titles=[]
Ratings=[]
prices=[]

In [149]:
filter_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[8]/ul[19]/span/span[11]/li/span/a/div')
filter_button.click()

In [151]:
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini s-line-clamp-1"]/span')
title_tags[0:10]
for i in title_tags[0:10]:
    title=i.text
    Titles.append(title)
    
Ratings_tags=driver.find_elements(By.XPATH,'//a[@class="a-popover-trigger a-declarative"]/i[1]')
Ratings_tags[0:10]
for i in Ratings_tags[0:10]:
    Rating=i.text
    Ratings.append(Rating)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
price_tags[0:10]
for i in price_tags[0:10]:
    price=i.text
    prices.append(price)

In [152]:
import pandas as pd
pd.DataFrame({'Titles':Titles,'Ratings':Ratings,'prices':prices})

      Titles Ratings    prices
0  ZEBRONICS            52,990
1  Microsoft          1,91,854
2        MSI            54,990
3       ASUS            77,990
4     Lenovo            62,990
5       Acer            54,990
6  ZEBRONICS            52,990
7         HP            99,990
8    Samsung            89,990
9       Acer            69,990

Question 8

In [159]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [160]:
driver=webdriver.Chrome()
driver.get("https://www.azquotes.com/")

In [162]:
search_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a')
search_button.click()

In [163]:
Quotes=[]
Authors=[]
Types=[]

In [164]:
start=0
end=3
for page in range(start,end):
    Quotes_tags=driver.find_elements(By.XPATH,'//ul[@class="list-quotes"]/li/div/p/a[2]')
    for i in Quotes_tags:
        Quote=i.text
        Quotes.append(Quote)
    Authors_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in Authors_tags:
        Author=i.text
        Authors.append(Author)
    Types_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in Types_tags:
        Type=i.text
        Types.append(Type)
    next_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[12]/a')
    next_button.click()
    time.sleep(3)

In [165]:
import pandas as pd
pd.DataFrame({'Quotes':Quotes,'Authors':Authors,'Types':Types})

,Quotes,Authors,Types
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
295,Regret for the things we did can be tempered b...,Sydney J. Harris,"Love, Inspirational, Motivational"
296,America... just a nation of two hundred millio...,Hunter S. Thompson,"Gun, Two, Qualms About"
297,For every disciplined effort there is a multip...,Jim Rohn,"Inspirational, Greatness, Best Effort"
298,"The spiritual journey is individual, highly pe...",Ram Dass,"Spiritual, Truth, Yoga"
299,The mind is not a vessel to be filled but a fi...,Plutarch,"Inspirational, Leadership, Education"

Question 9

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
driver=webdriver.Chrome()
driver.get("https://www.jagranjosh.com/")

In [3]:
search_button=driver.find_element(By.XPATH,'/html/body/div/header/nav/div/div/div[3]/ul/li[3]/a')
search_button.click()

In [4]:
PM_list=driver.find_element(By.XPATH,'//a[@title="List of All Prime Ministers of India (1947-2024)"]')
PM_list.click()

In [5]:
PM_List=[]

In [11]:
PM_tags=driver.find_elements(By.XPATH,'//td[2][@valign="top"]')
for i in PM_tags:
    PM=i.text
    PM_List.append(PM)

In [12]:
import pandas as pd
pd.DataFrame({'PM_List':PM_List})

                      PM_List
0               Indira Gandhi
1           Jawahar Lal Nehru
2               Indira Gandhi
3               Indira Gandhi
4             Chandra Shekhar
5        Atal Bihari Vajpayee
6              Manmohan Singh
7           Jawahar Lal Nehru
8   Gulzarilal Nanda (Acting)
9         Lal Bahadur Shastri
10              Indira Gandhi
11              Morarji Desai
12               Charan Singh
13              Indira Gandhi
14               Rajiv Gandhi
15                V. P. Singh
16            Chandra Shekhar
17        P. V. Narasimha Rao
18       Atal Bihari Vajpayee
19           H. D. Deve Gowda
20         Inder Kumar Gujral
21       Atal Bihari Vajpayee
22             Manmohan Singh
23              Narendra Modi

Question 10

In [ ]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [13]:
driver=webdriver.Chrome()
driver.get("https://www.motor1.com/")

In [16]:
search_button=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/input')
search_button.send_keys('’50 most expensive cars')

In [19]:
search=driver.find_element(By.XPATH,'/html/body/div[10]/div[2]/div/div/div[3]/div/div/div/form/button[1]')
search.click()

After clicking above search query received output like content you are looking does not exist.

In [17]:
cars=[]

In [18]:
Car_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/main/div[1]/div[1]/article/div[3]/div[5]/div/table/tbody/tr[6]/td[2]/div/strong/a')
for i in Car_tags:
    Car=i.text
    cars.append(Car)